/* Flash */
@-webkit-keyframes tableIsLoading {
  from, 50%, to {
    opacity: .47;
  }

  25%, 75% {
    opacity: .3;
  }
}

@keyframes tableIsLoading {
  from, 50%, to {
    opacity: .47;
  }

  25%, 75% {
    opacity: .3;
  }
}

.table-loading {
  -webkit-animation-name: tableIsLoading;
  animation-name: tableIsLoading;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
