/* agency css */
body {
  font-family: 'Avenir';
}

.pending {
  margin: 80px 0 80px 0;
}

.project-agreement-container {
  padding-top: 40px;
  h1 {
    padding: 30px 0 0 0;
  }
  h3 {
    padding-bottom: 10px;
    margin-top: 5px;
  }
}

.project-detail-container {
  padding-top: 80px;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 40px 0;

    h3 {
      margin: 0;
    }
  }

  .metadata {
    .group {
      .field {
        display: inline-block;
        min-width: 90px;
      }

      .value {
        display: inline-block;
        margin-left: 30px;
      }
    }
  }

  .summary {
    padding: 20px 0 20px 0;
  }

  .deliverables {
    padding: 20px 0 20px 0;

    .deliverable {
      display: inline-block;
      border: 1px solid #AFAFAF;
      padding: 10px;
      border-radius: 3px;

      .title {
        padding: 0 0 10px 0;
        font-size: 14px;
      }
    }
  }
}

.project-proposal-container {
  padding-top: 80px;
  padding-bottom: 80px;

  .project-proposal-header-boxes {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 20px;

    .box {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-right: 10px;
      padding: 10px;
      border: 1px solid #AFAFAF;
      border-radius: 3px;
      min-width: 100px;
      max-width: 300px;
    }
  }

  .project-deliverable-proposal-container {
    margin-top: 15px;
    margin-bottom: 35px;
    .project-deliverable-proposal {
      display: inline-block;
      width: 300px;
      border: 1px solid #AFAFAF;
      border-radius: 3px;
      padding: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}
