{% extends 'layouts/dashboard_base.html' %}
{% load staticfiles %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div id="section-container"></div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/section.bundle.js' %}"></script>
{% endblock %}
