{% extends 'layouts/login_base.html' %}

{% block content %}
<div class="container">
  <div class="signin-form">
    <form method="POST" action="/signin" class="extra-narrow">
      {% csrf_token %}
      <h2 class="form-signin-heading">Sign In</h2>
      <label for="inputEmail" class="sr-only">Username</label>
      <input type="text" class="form-control" placeholder="Username" name="username">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
</div>
{% endblock %}
