{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/section.css' %}">
{% endblock %}

{% block name %}
Dashboard
{% endblock %}

{% block navlinks %}
<!--<li><a href="/">Section</a></li>-->
{% endblock %}
