body {
  font-family: 'Avenir';
}

.app-container {
  margin-top: 70px;
  padding-bottom: 80px;
}

/* Agency Registration */
.create-agency-account-form {
  padding-top: 20px;
}

.services-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.services {
  display: flex;
  flex-direction: column;
}

.jumbotron {
  padding-top: 88px;
}

.form-carousel {
  padding-top: 70px;
}

.video-container {
  padding: 5% 10% 5% 10%;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-wrapper  iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.success-placeholder {

}

/* Sign in */
.signin-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 20px;

  .signin-links {
    margin-top: 20px;
  }

  a {
    display: block;
  }

  input {
    margin-bottom: 10px;
  }
}

input[type="checkbox"] {
  margin-top: 1px;
}
