@import 'variables';

body {
  font-family: 'Avenir';
}

.error-text {
  color: $brand-danger;
}

.alert {
  text-align: center;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
}

.content-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 16px;
}

.padded-container {
  padding-top: 120px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-pills>li>a {
  padding: 5px 10px;
}
